WOS_DATA=data/savedrecs.txt
INSTITUTIONS=data/institutions.json
INSTITUTIONS_GEO_DATA=data/institutions-geo-data_tmp.json
INSTITUTIONS_GEO_PROCESSED_DATA=data/institutions-geo-data.json
INSTITUTIONS_GEO_PROCESSED_DATA_CSV=data/institutions-geo-data.csv
WOS_FILE_COUNT=10
AUTH_COOKIES="cookie"
